#container {
    width: 500px;
    background-color: black;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}
#container > div {
    width: 100px;
    height: 100px;
    transition: all 0.3s linear;
}
div {
    background-color: maroon;
}
div.first {
    background-color: aqua;
}
#container > div.hover {
    background-color: blue;
    height: 300px;
}
